.logo {
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-2);
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
}

.logo img {
  height: 2rem;
}

.login-container {
  gap: initial;
  justify-content: initial;
}

.pass-recovery-logo {
  width: 100px;
  height: 100px;
  background: url("https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png");
  background-position: -128px 402px;
}

.login {
  height: 75%;
  padding-block: 2rem;
  /* border: 1px solid var(--gray-2); */
}

.login .pass-recovery-info h2 {
  margin-bottom: 0.5rem;
  font-size: 16px;
  font-weight: 500;
}

.login .pass-recovery-info p {
  margin-bottom: 0.5rem;
  font-size: 14px;
  color: var(--gray-3);
}

.form button {
  margin-top: 8px;
}

.or-content {
  margin: 2rem 0;
}


.sign-up-page a {
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
}

.back-to-login {
  background-color: var(--gray-1);
}

.back-to-login a {
  color: var(--black);
}

.sign-up {
  height: 7%;
}

@media (max-width: 450px) {

  .login,
  .sign-up {
    background-color: var(--white);
    border: 1px solid var(--gray-2);

  }

  .main {
    margin: 0 auto;
  }

  .login-container {
    justify-content: center;
  }

  .back-to-login {
    background-color: var(--gray-1);
  }
}